In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import copy
pd.set_option('display.max_columns', 500)
%matplotlib inline

In [2]:
V_df_dummy=pd.read_csv("vehicle_df.csv")
V_df_dummy.head()

,vehicle_id,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,avg_wid,avg_len,same_route_cars,travel_time,weather_0,weather_1,weather_2,offpeak,peak,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,first,last,middle
0,1065642,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,1,70.85,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
1,1047198,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,2,148.79,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
2,1086390,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,2,79.76,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
3,1071181,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,7.000000,64.000000,1,58.05,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
4,1065807,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,1,137.98,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1

In [3]:
V_df_dummy.shape

(109244, 44)

In [4]:
traintest_split = int(V_df_dummy.shape[0]*0.66)
V_train = V_df_dummy.iloc[:traintest_split, :] 
V_test = V_df_dummy.iloc[traintest_split:, :]

X_train = V_train.drop(columns = {"travel_time"}, axis=1)
y_train = V_train["travel_time"]

X_test = V_test.drop(columns = {"travel_time"}, axis=1)
y_test = V_test["travel_time"]

# First try

### random forest regression

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error


# your code here
OS = []
MSE = []
MAE = []
for i in range(1,11):
    param_grid = {'max_depth':range(1,11)}
    rf = RandomForestRegressor(n_estimators = 12,max_depth=i)
    # gs=GridSearchCV(rf,param_grid=param_grid,scoring='accuracy')
    rf.fit(X_train,y_train)
    OS.append(rf.score(X_test, y_test))
    y_pred = rf.predict(X_test)
    mse_ = mean_squared_error(y_test, y_pred)
    mae_ = mean_absolute_error(y_test, y_pred)
    
    MSE.append(mse_)
    MAE.append(mae_)

print("OS R-Square: ", np.mean(OS))
print("MSE: ", np.mean(MSE))
print("MAE: ", np.mean(MAE))

OS R-Square:  0.22864008112470793
MSE:  3473.6582937306184
MAE:  35.62284319021687

In [6]:
X_train.columns

Index(['vehicle_id', '100', '101', '102', '103', '104', '105', '106', '107',
       '108', '109', '110', '111', '112', '113', '114', '115', '116', '117',
       '118', '119', '120', '121', '122', '123', 'avg_wid', 'avg_len',
       'same_route_cars', 'weather_0', 'weather_1', 'weather_2', 'offpeak',
       'peak', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday', 'first', 'last', 'middle'],
      dtype='object')

### linear regression

In [7]:
V_train.head()

,vehicle_id,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,avg_wid,avg_len,same_route_cars,travel_time,weather_0,weather_1,weather_2,offpeak,peak,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,first,last,middle
0,1065642,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,1,70.85,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
1,1047198,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,2,148.79,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
2,1086390,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,2,79.76,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
3,1071181,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,7.000000,64.000000,1,58.05,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
4,1065807,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,1,137.98,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1

In [9]:
import statsmodels.formula.api as smf
mod1 = smf.ols(formula=
               'travel_time~avg_wid+avg_len+same_route_cars+weather_0+weather_1+offpeak+Monday+Tuesday+Wednesday+Thursday+Friday+Saturday+first+last',
              data=V_train).fit()
mod1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            travel_time   R-squared:                       0.251
Model:                            OLS   Adj. R-squared:                  0.251
Method:                 Least Squares   F-statistic:                     1724.
Date:                Sun, 05 May 2019   Prob (F-statistic):               0.00
Time:                        14:27:53   Log-Likelihood:            -4.0223e+05
No. Observations:               72101   AIC:                         8.045e+05
Df Residuals:                   72086   BIC:                         8.046e+05
Df Model:                          14
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         -23.7456      3.774     -6.293      0.000     -31.142     -16.349
avg_wid            -0.0301      0.549     -0.055      0.956      -1.107       1.047
avg_len             1.4928      0.011    131.952      0.000       1.471       1.515
same_route_cars     1.1484      0.104     11.051      0.000       0.945       1.352
weather_0           2.3693      0.689      3.439      0.001       1.019       3.720
weather_1           1.7579      0.641      2.741      0.006       0.501       3.015
offpeak            -9.5369      0.500    -19.058      0.000     -10.518      -8.556
Monday              2.2451      0.921      2.437      0.015       0.439       4.051
Tuesday            -3.8087      0.909     -4.190      0.000      -5.590      -2.027
Wednesday           0.5113      0.918      0.557      0.578      -1.289       2.312
Thursday           -0.1528      0.922     -0.166      0.868      -1.959       1.653
Friday             -0.3326      0.894     -0.372      0.710      -2.084       1.419
Saturday            5.1460      0.886      5.807      0.000       3.409       6.883
first              -0.7961      0.667     -1.194      0.233      -2.103       0.511
last               -2.3438      0.570     -4.113      0.000      -3.461      -1.227
==============================================================================
Omnibus:                   162680.907   Durbin-Watson:                   1.767
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       8229316755.897
Skew:                          20.548   Prob(JB):                         0.00
Kurtosis:                    1657.562   Cond. No.                     1.48e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Second try

## gridSearch rf

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error


# your code here
OS = []
MSE = []
MAE = []
# for i in range(1,11):

param_grid = {'max_depth':range(1,11),'n_estimators':range(1,11)}
rf = RandomForestRegressor()
gs=GridSearchCV(rf,param_grid=param_grid,scoring='explained_variance')
gs.fit(X_train,y_train)
OS.append(gs.score(X_test, y_test))
y_pred = gs.predict(X_test)
mse_ = mean_squared_error(y_test, y_pred)
mae_ = mean_absolute_error(y_test, y_pred)
    
MSE.append(mse_)
MAE.append(mae_)

print("OS R-Square: ", np.mean(OS))
print("MSE: ", np.mean(MSE))
print("MAE: ", np.mean(MAE))

/anaconda3/envs/myEnv3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

OS R-Square:  0.33916881217693107
MSE:  3053.0208507291604
MAE:  34.447495611078566

In [11]:
gs.best_params_

{'max_depth': 3, 'n_estimators': 4}

In [12]:
rf = RandomForestRegressor(max_depth= 3, n_estimators= 4)
rf.fit(X_train,y_train)
# best_features = 
best_columns = X_train.columns[rf.feature_importances_ > 0]
best_columns

Index(['103', 'avg_wid', 'avg_len', 'same_route_cars', 'offpeak', 'peak'], dtype='object')

In [13]:
X_train_reduced = X_train[best_columns]
X_test_reduced = X_test[best_columns]
rf = RandomForestRegressor(max_depth= 3, n_estimators= 4)
rf.fit(X_train_reduced,y_train)
y_pred = rf.predict(X_test_reduced)
rsqaure = rf.score(X_test_reduced, y_test)
mse_ = mean_squared_error(y_test, y_pred)
mae_ = mean_absolute_error(y_test, y_pred)
    
MSE.append(mse_)
MAE.append(mae_)
print("OS R-Sqaure", np.mean(rsqaure))
print("MSE: ", np.mean(MSE))
print("MAE: ", np.mean(MAE))

OS R-Sqaure 0.32119965040859044
MSE:  3054.928227772236
MAE:  34.514218273886485

## reduced linear regression

In [24]:
import copy
V_train_reduced = copy.deepcopy(X_train_reduced)
V_train_reduced['travel_time'] = y_train

In [28]:
V_train_reduced=V_train_reduced.rename(columns = {'103':'link_103'})

In [21]:
'+'.join(V_train_reduced.columns.astype(str))

'link_103+avg_wid+avg_len+same_route_cars+offpeak+peak+travel_time'

In [30]:
formula = 'travel_time~'+'+'.join(V_train_reduced.columns[:-1])
mod2 = smf.ols(formula=formula,
              data=V_train_reduced).fit()
mod2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            travel_time   R-squared:                       0.256
Model:                            OLS   Adj. R-squared:                  0.256
Method:                 Least Squares   F-statistic:                     4974.
Date:                Sun, 05 May 2019   Prob (F-statistic):               0.00
Time:                        14:34:02   Log-Likelihood:            -4.0196e+05
No. Observations:               72101   AIC:                         8.039e+05
Df Residuals:                   72095   BIC:                         8.040e+05
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -5.0496      2.473     -2.042      0.041      -9.897      -0.203
link_103           17.0128      0.655     25.988      0.000      15.730      18.296
avg_wid            -2.6305      0.556     -4.733      0.000      -3.720      -1.541
avg_len             1.3682      0.012    111.341      0.000       1.344       1.392
same_route_cars     2.0783      0.108     19.214      0.000       1.866       2.290
offpeak            -6.6879      1.244     -5.376      0.000      -9.126      -4.250
peak                1.6383      1.279      1.281      0.200      -0.868       4.144
==============================================================================
Omnibus:                   163740.806   Durbin-Watson:                   1.768
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       8564382721.114
Skew:                          20.879   Prob(JB):                         0.00
Kurtosis:                    1690.913   Cond. No.                     6.58e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.41e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

### R-sqaured increases slightly, but multicolinearity still exist

## Third try : Remove holiday

In [32]:
V_df = pd.read_csv("V_df.csv")
V_df.head()

,vehicle_id,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,avg_wid,avg_len,same_route_cars,travel_time,weather_0,weather_1,weather_2,start_time,day_of_week,part_of_month,PeakOrNot,offpeak,peak,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,first,last,middel
0,1065642,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,1,70.85,1,0,0,2016-07-19 00:14:24,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1
1,1047198,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,2,148.79,1,0,0,2016-07-19 00:35:56,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1
2,1086390,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,2,79.76,1,0,0,2016-07-19 00:37:15,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1
3,1071181,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,7.000000,64.000000,1,58.05,1,0,0,2016-07-19 00:37:59,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1
4,1065807,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,1,137.98,1,0,0,2016-07-19 00:56:21,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1

In [34]:
type(V_df['start_time'][2])

str

In [35]:
V_df['date'] = [d.split(' ')[0] for d in V_df['start_time']]
V_df.head()

,vehicle_id,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,avg_wid,avg_len,same_route_cars,travel_time,weather_0,weather_1,weather_2,start_time,day_of_week,part_of_month,PeakOrNot,offpeak,peak,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,first,last,middel,date
0,1065642,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,1,70.85,1,0,0,2016-07-19 00:14:24,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1,2016-07-19
1,1047198,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,7.200000,95.400000,2,148.79,1,0,0,2016-07-19 00:35:56,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1,2016-07-19
2,1086390,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,2,79.76,1,0,0,2016-07-19 00:37:15,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1,2016-07-19
3,1071181,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,7.000000,64.000000,1,58.05,1,0,0,2016-07-19 00:37:59,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1,2016-07-19
4,1065807,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,6.333333,91.222222,1,137.98,1,0,0,2016-07-19 00:56:21,Tuesday,middel,offpeak,1,0,0,1,0,0,0,0,0,0,0,1,2016-07-19

In [43]:
V_df = V_df[(V_df['date'] < '2016-10-01')|(V_df['date'] > '2016-10-07')]

In [44]:
V_df.shape

(93193, 49)

In [47]:
V_df.drop(columns = {"start_time","date",'day_of_week','part_of_month','PeakOrNot'}, axis=1,
         inplace=True)

In [48]:
traintest_split = int(V_df.shape[0]*0.66)
V_train = V_df.iloc[:traintest_split, :] 
V_test = V_df.iloc[traintest_split:, :]

X_train = V_train.drop(columns = {"travel_time"}, axis=1)
y_train = V_train["travel_time"]

X_test = V_test.drop(columns = {"travel_time"}, axis=1)
y_test = V_test["travel_time"]

## gridsearch rf

In [49]:
# your code here
OS = []
MSE = []
MAE = []
# for i in range(1,11):

param_grid = {'max_depth':range(1,11),'n_estimators':range(1,11)}
rf = RandomForestRegressor()
gs=GridSearchCV(rf,param_grid=param_grid,scoring='explained_variance')
gs.fit(X_train,y_train)
OS.append(gs.score(X_test, y_test))
y_pred = gs.predict(X_test)
mse_ = mean_squared_error(y_test, y_pred)
mae_ = mean_absolute_error(y_test, y_pred)
    
MSE.append(mse_)
MAE.append(mae_)

print("OS R-Square: ", np.mean(OS))
print("MSE: ", np.mean(MSE))
print("MAE: ", np.mean(MAE))

/anaconda3/envs/myEnv3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

OS R-Square:  0.29995372601527226
MSE:  3447.6599020185063
MAE:  35.051026994040214

In [50]:
gs.best_params_

{'max_depth': 3, 'n_estimators': 10}

In [51]:
rf = RandomForestRegressor(max_depth= 3, n_estimators= 10)
rf.fit(X_train,y_train)
# best_features = 
best_columns = X_train.columns[rf.feature_importances_ > 0]
best_columns

Index(['vehicle_id', '103', '107', '120', 'avg_wid', 'avg_len',
       'same_route_cars', 'offpeak', 'peak'],
      dtype='object')

In [52]:
X_train_reduced = X_train[best_columns]
X_test_reduced = X_test[best_columns]
rf = RandomForestRegressor(max_depth= 3, n_estimators= 10)
rf.fit(X_train_reduced,y_train)
y_pred = rf.predict(X_test_reduced)
rsqaure = rf.score(X_test_reduced, y_test)
mse_ = mean_squared_error(y_test, y_pred)
mae_ = mean_absolute_error(y_test, y_pred)
    
MSE.append(mse_)
MAE.append(mae_)
print("OS R-Sqaure", np.mean(rsqaure))
print("MSE: ", np.mean(MSE))
print("MAE: ", np.mean(MAE))

OS R-Sqaure 0.2979363701026595
MSE:  3445.421583769901
MAE:  35.05887398226021